@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="home-center">
    <h1>Mobile Chat</h1>
    <h3>Xamarin SignalR API</h3>
    <br />
    <h4>Documentation</h4>
    <a href="https://github.com/jihadkhawaja/xamarin-chat-signalr/tree/development-web#xamarin-chat-signalr-server" target="_blank">Xamarin Chat SignalR Server Usage</a>
    <br />
    <h4>Github</h4>
    <a href="https://github.com/jihadkhawaja/xamarin-chat-signalr" target="_blank">Xamarin Chat SignalR</a>
</div>
